@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap");

@font-face {
  font-family: "Nico Moji";
  src: url("./assets/fonts/NicoMoji-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  // Colors
  --green: #388e3c;
  --light-green: #8bc34a;
  --lime-green: #dce775;
  --pastel-yellow: #fff59d;

  --brown: #533710;
  --light-brown: #6e4b1f;
  --mustard-brown: #98651e;
  --beige: #f0d394;

  --gray: #ababab;
  --background-overlay: rgba(0, 0, 0, 25%);

  // Padding
  --padding: 1rem;
  --header-height: 59px;
}

body {
  min-height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  font-family: "Open Sans", sans-serif;

  #app {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 120rem;
  }
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  border-style: solid;
  font-family: "Open Sans", sans-serif;
}

button:hover {
  cursor: pointer;
}

button,
a {
  &:focus-visible {
    outline: var(--green) 0.25rem solid;
  }
}

.appear {
  animation: 0.3s ease-in-out forwards 2s;
  animation-name: appear;
}

* {
  will-change: transform;
}

@media screen and (min-width: 37.5rem) {
  :root {
    --padding: 1.5rem;
  }
}

@media screen and (min-width: 64rem) {
  :root {
    --padding: 2.5rem;
    --header-height: 115px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
